span{
    font-size: 30px;
    color: darkgray;
    position: relative;
    bottom: 8px;
    right: 5px;
}
.card{
    text-align: center;
}
.col{
    margin-right: 40px;
}
i{
    margin-right: 8px;
}
.card-body{
    box-shadow: 10px 0px 20px rgb(214,214,214) ;
}
.card-body:hover{
    background-color: rgb(187,50,59);

}
.col:hover{
    color: white;
}


